* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    --bg-dark: #171717;     /* fundo geral */
    --bg-sidebar: #1f1f2e;  /* fundo parecido com a imagem */
    --bg-card: #262837;     /* cards escuros */
    --bg-card-hover: #313349;
    --primary: #DA0037;     /* destaque */
    --text: #EDEDED;
    --text-muted: #bbbbbb;
}

body {
    background-color: var(--bg-dark);
    color: var(--text);
}

.layout {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 280px;
    background: var(--bg-sidebar);
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-right: 1px solid #222;
}

.logo {
    font-size: 22px;
    font-weight: 700;
    color: var(--text);
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo::before {
    content: "▮▮▮";
    color: var(--primary);
    font-size: 14px;
    letter-spacing: 2px;
}

.side-items {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.side-item a {
    text-decoration: none;
    padding: 12px 15px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text-muted);
    transition: 0.2s;
    font-size: 14px;
    letter-spacing: 0.2px;
}

.side-item a:hover {
    background: rgba(255,255,255,0.06);
    color: var(--text);
}

.side-item.active a {
    background: var(--primary);
    color: white;
}

.page-wrapper {
    flex: 1;
    padding: 35px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.kanban-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-title {
    font-size: 24px;
    font-weight: bold;
}

.add-new-task {
    background: var(--primary);
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.2s;
    font-weight: 500;
}

.add-new-task:hover {
    transform: scale(1.03);
}

.kanban-wrapper {
    display: flex;
    gap: 35px;
    justify-content: flex-start;
}

.kanban-status {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--text-muted);
}

.kanban-status::before {
    content: "●";
    font-size: 14px;
    color: var(--primary);
}

.kanban-card {
    background: var(--bg-card);
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 12px;
    cursor: pointer;
    transition: 0.2s;
}

.kanban-card:hover {
    background: var(--bg-card-hover);
}

.kanban-card h4 {
    font-size: 14px;
    margin-bottom: 5px;
    color: var(--text);
}

.kanban-card span {
    font-size: 12px;
    color: var(--text-muted);
}
.card-icons {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 10px;
    opacity: 0.7;
    font-size: 12px;
}
