* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    border-style: solid;
    border-width: 1px;
    padding: 1px;
    margin: 0px 1px 0px 0px;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar .user {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid #000;
}

.sidebar .user img {
    width: 45px;
    height: 45px;
    border: 1px solid #000;
    background: #fff;
}

.user-info {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.user-info .item-description {
    font-weight: bold;
    font-size: 13px;
}

.user-info span:last-child {
    font-size: 12px;
}

.side-items {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.side-item a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 10px;
    text-decoration: none;
    color: #000;
    transition: background 0.15s, color 0.15s;
}

.side-item a:hover {
    background: #000;
    color: #fff;
}

.side-item i {
    font-size: 14px;
}

.page-wrapper {
    flex: 1;
    padding: 1px;
}

.kanban-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
}

.end {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 20px;
    gap: 10px;
}

.logo {
    font-size: 20px;
    margin-left: 10px;
}

.add-new-task {
    border-style: solid;
    border-width: 1px;
    background-color: white;
    padding: 16px;
    transition: background-color 0.2s, color 0.2s;
}

.add-new-task:hover {
    background-color: black;
    color: #fff;
}

.kanban-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    column-gap: 20px;
    padding: 20px 0px 20px 0px;
    margin: 1px 0px 20px 0px;
    border-style: solid;
    border-width: 1px;
    justify-content: center;
}

.kanban-card {
    border-width: 1px;
    border-style: solid;
    max-width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

.kanban-card:hover {
    background-color: black;
    color: #fff;
}

.kanban-status {
    margin-bottom: 15px;
}

.card-infos {
    border-style: solid;
    border-width: 1px;
    padding: 5px;
}

.card-icons {
    border-style: solid;
    border-width: 1px;
    display: flex;
    align-items: center;
    gap: 20px;
    height: 20px;
    justify-content: start;
    font-size: 12px;
}


.kanban-wrapper {
    margin-left: auto;
    margin-right: auto;
}
