 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }


 .page-wrapper {
     margin-left: 230px;
 }


 .kanban-header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     border-style: solid;
     border-width: 1px;
     padding: 5px;
 }

 .end {
     display: flex;
     justify-content: end;
     align-items: center;
     padding: 20px;
     gap: 10px;
 }

 .logo {
     font-size: 20px;
     margin-left: 10px;
 }

 .add-new-task {
     border-style: solid;
     border-width: 1px;
     background-color: white;
     padding: 16px;
     transition: background-color 0.2s, color 0.2s;
 }

 .add-new-task:hover {
     background-color: black;
     color: #fff;
 }

 .kanban-wrapper {
     display: grid;
     grid-template-columns: repeat(3, 250px);
     column-gap: 20px;
     padding: 20px 250px 20px 0px;
     /* top, right, bottom, left */
     margin: 1px 0px 20px 0px;
     /* top, right, bottom, left */
     border-style: solid;
     border-width: 1px;
     justify-content: center;
     align-items: center;
 }


 .kanban-card {
     border-width: 1px;
     border-style: solid;
     max-width: 100%;
     padding: 10px;
     margin-bottom: 15px;
     cursor: pointer;
     transition: background-color 0.2s, color 0.2s;
 }

 .kanban-card:hover {
     background-color: black;
     color: #fff;
 }

 .kanban-status {
     margin-bottom: 15px;
 }



 .card-infos {
     border-style: solid;
     border-width: 1px;
     padding: 5px;
 }

 .card-icons {
     border-style: solid;
     border-width: 1px;
     display: flex;
     align-items: center;
     gap: 20px;
     height: 20px;
     justify-content: start;
     font-size: 12px;
 }