* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-container {
    width: 600px;
    border: 1px solid black;
    padding: 20px;
    box-sizing: border-box;
}


.task-title {
    font-size: 18px;
    margin-bottom: 20px;
}

.task-description {
    margin-bottom: 20px;
    line-height: 1.4;
}


.subtasks-ramaining {
    font-weight: bold;
    margin-bottom: 10px;
}
.check-subtasks {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 20px;
}

.check-subtasks div {
    margin-bottom: 8px;
}

.check-subtasks label {
    margin-left: 6px;
}

.input-label {
    margin-top: 15px;
}

select {
    width: 100%;
    padding: 6px;
    border: 1px solid black;
    background: white;
}

input[type="checkbox"] {
    cursor: pointer;
}